{
    "all": false,
    "branches": 90,
    "cache": true,
    "check-coverage": true,
    "exclude": [
        "**/*.spec.js",
        "coverage/**"
    ],
    "extension": [
        ".js"
    ],
    "functions": 90,
    "include": [
        "src/lib/utils"
    ],
    "lines": 90,
    "per-file": true,
    "report-dir": "./coverage",
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "require": [
    ],
    "statements": 90,
    "watermarks": {
        "branches": [
            80,
            95
        ],
        "functions": [
            80,
            95
        ],
        "lines": [
            80,
            95
        ],
        "statements": [
            80,
            95
        ]
    }
}
